body
    { 
     
       
    background:rgb(53, 60, 161);
    color:#ebeff5;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
       
    }
h1
    { 
   
    /* background:rgba(125, 128, 145, 0.623);*/
    
    display:inline-block;
    position:relative;
    width:100%;
    border-radius:15px 10px; 
    border-top: 3px solid whitesmoke;
    border-bottom: 0px solid whitesmoke ;
    background-image: url(pozaCiudata.jpg);
    background-position: center;
    height: 200px;
   
    
    }

    .textTitlu
    {
        
        color:whitesmoke;
        font-size:50px;
        text-align: center;
        border-radius:15px 10px;
        padding-top: 0px;
        padding-right: 5px;  
        padding-bottom: 5px;  
        padding-left: 5px; 
        font-family: 'montserrath';
        background:rgba(125, 128, 145, 0.623);
        display:inline-block;
        width:100%;
        border-radius:15px 10px; 
        border-top: 3px solid whitesmoke;
        border-bottom: 3px solid whitesmoke ;
        font-weight: 100;
            
    }
span{
    font-weight: 800;
    font-size: 60px;
}
nav{
    text-align:  center;
    background:rgba(125, 128, 145, 0.623);
    padding-top: 5px;  
    padding-bottom: 5px;  
    padding-left: 5px;  
    padding-right: 5px;    
    margin-bottom: 25 px;
    border-bottom: 3px solid whitesmoke ;
    border-top: 3px solid whitesmoke;
    color:white;
    width: 100%;

}
.HomeButton{
    margin-right: 20px;
    margin-left: 0px;
    color: white;
}
.Pagina1Button{
    margin-right: 20px;
    color: white;
}
.Pagina2Button {
    margin-right: 20px;
    color: white;

}
img {
    display: block;
    margin: 0 auto;
}

/*ca sa pot sa afisez cv ul in dreapta pozei */
.pozaSiCv{
    display:flex;
}
/*modificarile pt poza de pe apgina cu cv*/
/*style pt poza polaroid */

body {margin:25px;}

div.polaroid {
    margin-top: 20px;
    position: relative;
    width: 30%;
  
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 8px;
    height: 10%;
}

div.container {
  text-align: center;
  padding: 10px 10px;

  
}
.textPolaroid {
    color: black;
  
    
}
.poza {
    
    display: block;
    max-width: 100%;
    height:auto;
    width: auto\\9;
    border-radius: 8px;
  }
  .coperta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #49c5ee;
  }
  
  .polaroid:hover .coperta {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



  /*style pt containerele pt cv */
.cvBackground{
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top:20px;
    margin-left: 30px;
    width: 100%;
    background-color:rgb(194, 238, 255) ;
    background-image: linear-gradient(to right, rgb(163, 196, 235), #3e74e7);
    
  }
  .cutie{
      display:flex;
      width: auto;
      margin:10px;
      
      border:3px solid cornflowerblue;
      background-color:rgb(53, 60, 161);
      border-radius: 5px;
  }
.profil1{
  
    min-height: 100px;
  }
.profil2{
    
    
    min-height: 100px;
      
}
.profil3{
    
    min-height: 10px;
      
}

.profil4{
    
    min-height: 10px;
      
}
.facebook{
    display: flex;
    height:auto;
    width: auto;

  
}
.facebookButton{
    width: 100px;
    height: auto;
    margin-left:10px;
    border-radius: 10px;
    background-color: #3b5998;
}

.instagram{
    display:flex;
    height:auto;
    width: auto;
  
    
    
}
.instagramButton{
    width: 100px;
    height: auto;
    margin-left:10px;
    border-radius: 10px;
    background-color: #E1306C;
    
}
.continut{
    display: flex;
   

}
